@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #ffb6c1;
  --light-pink: #ffc0cb;
  --brown: #8b4513;
  --light-brown: #d2b48c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Pixel";
  src: url("/fonts//PixelifySans-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Pixel", sans-serif;
}

.bg-striped {
  background: repeating-linear-gradient(
    to right,
    #FFEAEC, /* Light pink */
    #FFEAEC 30px,
    rgba(240, 208, 200, 0.532) 30px, /* Beige */
    rgba(240, 208, 200, 0.532) 45px
  );
}

.bg-beige {
  background-color: #d4bfa3;
}

.bg-beige-dark {
  background-color: rgb(168, 156, 133);
}

.text-link-blue {
  color: #138CDE;
}
